.list {
  color: mintcream;
  width: 300px;
  background-color: orchid;
  height: 50px;
  margin: 20px auto;
  border-radius: 5px;
}

.list p {
  padding: 10px;
  position: relative;
}

.list p span {
  position: absolute;
  right: 10px;
  cursor: pointer;
}

.faicons {
  margin: 0 5px;
  font-size: 15px;
}

.list input {
  background-color: transparent;
  border: 0;
  color: aliceblue;
  font-size: 18px;
}

.list input:focus {
  outline: none;
}
